body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav label {
  margin: 0px 40px 0px 0px;
  font-size: 26px;
  color: white;
  display: none;
}

#toggle {
  display: none;
}

form div {
  display: inline-block;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid rgb(145, 145, 145);
}

#navRight {
  display: flex;
  padding-right: 3%;
  width: 500px;
  justify-content: space-between;
}

#navRight a {
  text-decoration: none;
  color: black;
}

#logoImg {
  height: 35px;
  min-height: 50px;
  margin-left: 30px;
}

#logoImg:hover {
  filter: brightness(70%);
  transition: all 1s ease;
}

#authPage {
  margin-top: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginForm {
  margin: 25px;
}

#homepage {
  margin-top: -50px;
  height: 90%;
}

#homepageImage {
  width: 100vw;
}

#accountPage {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}

#accountLeft {
  border-radius: 12px;
  background: lightgrey;
  margin: 15px;
  padding: 20px;
}

#accountRight {
  border-radius: 12px;
  background: lightgrey;
  margin: 15px;
  padding: 20px;
}

#orderHistory {
  margin-top: 60px;
  padding: 10px;
  display: flex;
}

#orderHistoryLeft {
  margin: 10px;
}

#orderHistoryRight {
  border-radius: 12px;
  background: lightgrey;
  padding: 15px;
  margin: 10px;
  width: 30vw;
  min-width: 300px;
  box-shadow: 3px 3px 5px;
}

#allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 70px;
}

#singleProduct {
  margin-top: 30px;
  padding: 50px;
  display: flex;
}

#singleProductLeft {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#singleProductRight {
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#cartListPage {
  display: flex;
  margin-top: 60px;
  padding: 10px;
  justify-content: space-around;
}

#cartListLeft {
  width: 60vw;
  margin: 10px;
}

#cartListLeft img {
  width: 75px;
  height: 75px;
}

#cartListRight {
  background: lightgrey;
  width: 30vw;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 3px 3px 3px;
  margin: 10px;
}

#checkoutPage {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  padding: 10px;
  justify-content: space-around;
}

#checkoutPageLeft {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

#checkoutPageLeft div {
  background: lightgrey;
  border-radius: 12px;
  box-shadow: 3px 3px 5px;
  padding: 15px;
  margin: 10px;
}

#checkoutPageRight {
  background: lightgrey;
  display: flex;
  flex-direction: column;
  width: 30vw;
  border-radius: 12px;
  padding: 15px;
  margin: 10px;
  box-shadow: 3px 3px 5px;
}

#checkoutPageRight button {
  width: 200px;
  margin: 10px;
}

.navRightLoginToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.productThumb {
  margin: 20px;
  background: lightgrey;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 3px 3px 5px;
}

.productThumbImg {
  width: 160px;
  height: 160px;
  max-width: 250px;
  min-width: 150px;
  border-radius: 10px;
}

.productThumbInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singleProductButton {
  font-size: 16pt;
  padding: 15px;
  border-radius: 12px;
}

.orderHistoryItem {
  display: flex;
  justify-content: space-between;
  background: lightgrey;
  border-radius: 12px;
  padding: 10px;
  margin: 0px 10px 20px 0px;
  width: 60vw;
  box-shadow: 3px 3px 5px;
}

.cartProduct {
  display: flex;
  background: lightgrey;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px 20px 0px;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 3px 3px 5px;
}

.cartProduct button {
  height: 30px;
  width: 30px;
  font-size: 18px;
  margin: 5px;
  border-radius: 10px;
}

@media only screen and (max-width: 500px) {
  nav label {
    display: block;
    cursor: pointer;
  }

  #navRight {
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 61px;
    height: 120px;
  }

  #navRight * {
    border-bottom: 1px solid white;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #toggle:checked + #navRight {
    display: none;
  }
}
