body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

nav div {
  display: inline-block;
  margin: 1em;
}

nav h1 {
  display: inline-block;
  font-size: 2.5em;
  margin: 0.5em;
}

nav input {
  display: inline;
  margin: 1em;
}

form div {
  display: inline-block;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100vw;
  position: fixed;
  background: grey;
}

#navRight {
  padding-right: 3%;
}

#logoImg {
  height: 8vh;
}

#authPage {
  margin-top: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginForm {
  margin: 25px;
}

#homepage {
  margin-top: -50px;
  height: 90%;
}

#homepageImage {
  width: 100vw;
}

#accountPage {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

#orderHistory {
  margin-top: 100px;
  display: flex;
}

#allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}

#singleProduct {
  margin-top: 30px;
  padding: 50px;
  display: flex;
}

#singleProductLeft {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#singleProductRight {
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#cartListPage {
  display: flex;
  margin-top: 60px;
  justify-content: space-around;
}

#cartListLeft {
  width: 60vw;
}

#cartListLeft img {
  width: 75px;
  height: 75px;
}

#cartListRight {
  background: lightgrey;
  width: 30vw;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 3px 3px 3px;
  margin: 10px;
}

#checkoutPage {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  width: 100vw;
}

#checkoutPageLeft {
  background: lightgrey;
  display: flex;
  flex-direction: column;
  width: 60vw;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 3px 3px 3px;
}

#checkoutPageRight {
  background: lightgrey;
  display: flex;
  flex-direction: column;
  width: 30vw;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 3px 3px 3px;
}

#checkoutPageRight button {
  width: 200px;
  margin: 10px;
}

.productThumb {
  margin: 50px;
}

.productThumbImg {
  width: 15vw;
  max-width: 250px;
  min-width: 150px;
}

.productThumbInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.singleProductButton {
  font-size: 16pt;
  padding: 15px;
  border-radius: 12px;
}

.orderHistoryItem {
  display: flex;
  justify-content: space-between;
  background: grey;
  color: white;
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  width: 50vw;
}

.cartProduct {
  display: flex;
  background: lightgrey;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 3px 3px 3px;
}
